.navbar-container {
    height: 70px;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    top: 0px;
    display: flex;
    padding: 16px 51px;

    .app-logo {
        text-decoration: none;
        font-size: 1.8rem;
        color: #e50914;
        cursor: pointer;
        font-weight: bold;
    }

    .right-section {
        margin-left: auto;
    }
}